@import "https://fonts.fontstorage.com/import/frenchpress.css";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

$text: #22222E;
$purple: #684a83;
$background: #ADA9BA;
$dark-blue: #393A5A;
$green: #214823;

body {
  font-family: 'Frenchpress';
  background-color: $background;
  color: $text;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}

.card {
  width: 250px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $dark-blue;
  border-radius: 5px;
  font-family: "Frenchpress";
  background-color: $background;
  color: $text;
  margin-bottom: 30px;
}

.card:last-child {
  margin-bottom: 30px;
}

.card:hover {
  color: $background;
  background-color: $dark-blue;
  border: 2px solid $dark-blue;
}

.card:active {
  color: $background;
  background-color: $text;
  border: 2px solid $text;
}

.card__logo {
  margin-right: 10px;
}

.card__name {
  font-family: "Frenchpress";
  font-size: 25px;
}
