:root {
  --white: #ffffff;
  --black: #23262d;
  --gray-1: #606268;
  --gray-2: #c4cacf;
  --border: #e2e7eb;
  --red-1: #e36f59;
  --red-2: #c7523c;
}

html {
  background-color: var(--white);
}

*:active,
*:hover,
*:focus {
  outline: 0;
  outline-offset: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: var(--black);
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: var(--border);
}

::-webkit-scrollbar-thumb {
  background: var(--gray-1);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

.container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
}

.desktop-btn {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding: 0;
  text-align: center;
  width: 176px;
  height: 50px;
  background: var(--white);
  border: 2px solid var(--red-1);
  border-radius: 8px;
  color: var(--red-1);
}

.desktop-btn:hover {
  background: var(--red-1);
  color: var(--white);
}

.desktop-btn:active {
  border-color: var(--red-2);
  background: var(--red-2);
  color: var(--white);
}

.phone-btn {
  display: none;
}

.about-site {
  margin-bottom: 70px;
}

.about-site__list {
  display: flex;
}

.about-site__item {
  width: 595px;
}

.about-site__item:first-child {
  margin-right: 40px;
}

.about-site__description {
  font-family: "Bitter";
  font-weight: 700;
  font-size: 55px;
  line-height: 72px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.about-site__description_color_red {
  color: var(--red-1);
}

.about-site__text {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--gray-1);
}

.about-site__programmer {
  width: 595px;
  height: 582px;
}

.blog {
  margin-bottom: 70px;
}

.blog__header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.blog__description {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 0.01em;
  margin: 0px auto 0px 0px;
}

.blog__articles-list {
  display: flex;
  flex-wrap: wrap;
}

.blog__article:not(:nth-last-child(-n + 2)) {
  margin-bottom: 30px;
}

.blog__article:not(:nth-child(2n)) {
  margin-right: 30px;
}

.training {
  margin-bottom: 70px;
}

.training__header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.training__description {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 0.01em;
  margin: 0px auto 0px 0px;
}

.training__list {
  display: flex;
}

.training__card:not(:nth-child(2n)) {
  margin-right: 30px;
}

.exercise-card {
  width: 600px;
  background: var(--white);
  box-shadow: 0px 3px 23px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding: 15px;
}

.exercise-card__header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.exercise-card__name {
  margin: 0;
  color: var(--black);
  margin: 0px auto 0px 0px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
}

.exercise-card__description {
  margin: 0;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--gray-1);
}
.article-card {
  width: 600px;
  background: var(--white);
  box-shadow: 0px 3px 23px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding: 15px;
}

.article-card__description {
  margin-bottom: 22px;
}

.article-card__name {
  margin: 0;
  color: var(--black);
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 15px;
}

.article-card__link:hover {
  color: var(--red-1);
  text-decoration: underline;
}

.article-card__text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 570px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--gray-1);
}

.article-card__line {
  border: 1px solid var(--border);
  margin-bottom: 16px;
}

.article-card__date {
  padding-right: 5px;
  display: flex;
  align-items: center;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.article-card__calendar {
  margin-right: 10px;
}