@import "https://fonts.fontstorage.com/import/gunnyrewritten.css";

* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Gunny Rewritten';
  background-color: #FEF4C0;
  color: #B20000;
}

.container {
  color: #B20000;
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.app {
  width: 290px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.title {
  margin-top: 15px;
  margin-bottom: 35px;
  font-size: 35px;
}

.card {
  width: 50px;
  height: 50px;
  background-color: #FDB10B;
  border: 1px solid #FDB10B;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.true {
  color: #FEF4C0;
  background-color: #FE8535;
  border: 1px solid #FE8535;
}

.card:not(:nth-child(4n)) {
  margin-right: 30px;
}

.card:not(:nth-last-child(-n+4)) {
  margin-bottom: 30px;
}

.card:last-child {
  margin-right: 0px;
}


.card-title {
  font-size: 20px;
}

.btn {
  text-align: center;
  font-family: 'Gunny Rewritten';
  background-color: #FE8535;
  border: 1px solid #FE8535;
  border-radius: 5px;
  color: #FEF4C0;
}

.win-btn {
  font-size: 25px;
  margin-top: 30px;
  border-radius: 5px;
  width: 200px;
  height: 50px;
}

.form {
  display: flex;
  align-items: center;
  height: 35px;
  margin-top: 15px;
  /* background-color: #FE8535; */
  border: 1px solid #FE8535;
  border-radius: 5px;
  color: #B20000;
}

.input {
  font-size: 20px;
  width: 190px;
  font-family: 'Gunny Rewritten';
  color: #B20000;
  background-color: transparent;
  border: none;
  height: 35px;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: #B20000;
}

.form-btn {
  font-size: 20px;
  border-radius: 0px 5px 5px 0px;
  width: 100px;
  height: 35px;
}