:root {
  --brown-1: #d5621d;
  --brown-2: #210e09;
}
body {
  background-color: var(--brown-2);
  margin: 0;
}

*:active,
*:hover,
*:focus {
  outline: 0;
  outline-offset: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: var(--black);
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.container {
  width: 1296px;
  margin: 0px auto;
}

.btn {
  color: #fff;
  background-color: var(--brown-2);
  border: 2px solid var(--brown-1);
  border-radius: 5px;
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* Header */
.header-container {
  margin-top: 30px;
  margin-bottom: 53px;
  display: flex;
  align-items: center;
}

.header-container__logo {
  margin-right: auto;
}

.header-container__nav {
  margin-right: 189px;
}

.header-container__link {
  color: #fff;
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.header-container__link:not(:last-child) {
  margin-right: 30px;
}

.header-container__reservation {
  padding: 15px 30px;
  width: 188px;
  height: 51px;
}

.header-container__reservation:hover{
  background-color: var(--brown-1);
  border: 2px solid var(--brown-1);
  color:var(--brown-2);
}

/* Poster */
.poster {
  margin-bottom: 120px;
  display: flex;
}

.poster__main {
  width: 856px;
  height: 540px;
  border-radius: 5px;
  background: url("../img/mainposter.png") no-repeat;
  margin: 0px 24px 0px 0px;
}

.poster__since {
  margin: 0px;
  width: 154px;
  height: 44px;
  color: var(--brown-2);
  background: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 60px;
  top: 301px;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.05em;
}

.poster__description {
  margin: 0px;
  width: 623px;
  height: 120px;
  color: #fff;
  position: relative;
  left: 60px;
  top: 328px;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.poster__secondary {
  height: 540px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.poster__nav {
  margin: 0px;
  width: 416px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poster__nav-link {
  width: 208px;
  height: 40px;
  color: #fff;
  background: rgba(213, 98, 29, 0.05);
  border-radius: 5px 5px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.active {
  background: rgba(213, 98, 29, 0.1);
}

.poster__other {
  padding: 37px 35px;
  width: 416px;
  height: 502px;
  background: rgba(213, 98, 29, 0.1);
  border-radius: 0px 0px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.poster__other-poster {
  width: 160px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poster__other-poster:not(:nth-child(2n)) {
  margin-right: 26px;
}
.poster__other-poster:not(:nth-last-child(-n + 2)) {
  margin-bottom: 26px;
}

/* Menu */
.technical-rider__description,
.footer-container__description,
.events-tourists__description,
.menu__description {
  margin: 0px auto 40px;
  width: 286px;
  height: 38px;
  color: var(--brown-2);
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.technical-rider__header,
.footer-container__header,
.events-tourists__header,
.menu__header {
  margin: 0px auto 80px;
  color: #ffffff;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.menu__offer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 96px;
}

.menu__left-arrow {
  border: none;
  margin-right: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: var(--brown-1);
  border-radius: 5px;
}

.left-arrow {
  width: 14px;
  height: 14px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  border-radius: 1px;
  transform: rotate(-135deg);
}

.menu__dishes {
  margin-right: 40px;
  width: 1076px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.menu__dish:not(:nth-child(2n)) {
  margin-right: 104px;
}

.menu__dish:not(:nth-last-child(-n + 2)) {
  margin-bottom: 56px;
}

.dish-card {
  width: 486px;
  height: 111px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dish-card__photo {
  width: 110px;
  height: 110px;
  margin-right: 25px;
}

.dish-card__text {
  display: block;
}

.dish-card__name {
  margin: 0px auto 0px 0px;
  color: #fff;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.dish-card__header {
  display: flex;
  align-items: center;
}

.dish-card__cost {
  width: 84px;
  height: 38px;
  color: #fff;
  background: none;
  border: 2px solid var(--brown-1);
  border-radius: 5px;
  position: relative;
  top: 0px;
  left: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.dish-card__mass {
  margin: 0px 0px 10px 0px;
  color: var(--brown-1);
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.dish-card__description {
  margin: 0px;
  color: #fff;
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.menu__right-arrow {
  border: none;
  margin-left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: var(--brown-1);
  border-radius: 5px;
}

.right-arrow {
  width: 14px;
  height: 14px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  border-radius: 1px;
  transform: rotate(45deg);
}

.menu__btn {
  margin: 0px auto 150px;
  width: 171px;
  height: 57px;
  color: #fff;
  background: var(--brown-1);
  border: 2px solid var(--brown-1);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* Events-tourists */
.events-tourists {
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.events-tourists__events {
  margin-right: 44px;
  width: 416px;
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.events-tourists__img {
  width: 416px;
  height: 560px;
  margin-right: 44px;
  border: none;
  border-radius: 5px;
}

.events-tourists__tourists {
  width: 416px;
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.events-tourists__text {
  margin: 0px;
  color: #ffffff;
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.events-tourists__text:not(:nth-child(3n-1)) {
  margin-bottom: 20px;
}

.events-tourists__btn {
  width: 156px;
  height: 51px;
}

/* Technical-riders */
.technical-rider {
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.technical-rider__main {
  display: flex;
  justify-content: center;
}

.technical-rider__accordions {
  margin-right: 134px;
}

.technical-rider__accordion {
  padding: 20px 40px;
  width: 526px;
  height: 67px;
  color: #ffffff;
  background: rgba(213, 98, 29, 0.1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.technical-rider__accordion:not(:last-child) {
  margin-bottom: 20px;
}

.down-arrow {
  margin-left: auto;
  width: 15px;
  height: 15px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-radius: 2px;
  transform: rotate(-135deg) translateY(3px) translateX(3px);
}

.technical-rider__header {
  margin-bottom: 80px;
}

.technical-rider__sound-engineer-header {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: centera;
  width: 415px;
  height: 96px;
  color: #fff;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.technical-rider__sounen-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.technikal-rider__sounden {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.technikal-rider__sounden:first-child {
  margin-right: 24px;
}

.technikal-rider__sounden-img {
  margin-bottom: 30px;
}

.technikal-rider__sounden-name {
  margin-bottom: 25px;
  color: #fff;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.technical-rider__social-list {
  display: flex;
  align-items: center;
}

.technikal-rider__social {
  width: 40px;
  height: 40px;
  border: 2px solid var(--brown-1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.technikal-rider__social:first-child {
  margin-right: 25px;
}

/* Footer */
.footer-container__description {
  margin: 0px auto 40px;
}

.footer-container__herder {
  margin-bottom: 80px;
}

.footer-container__main {
  display: flex;
  align-items: center;
}

.footer-container__contacts {
  margin-right: 24px;
  padding: 50px;
  height: 656px;
  width: 416px;
  background: rgba(213, 98, 29, 0.1);
  border: 2px solid #d5621d;
  border-radius: 5px;
}

.footer-container__contact:not(:last-child) {
  margin-bottom: 35px;
}

.footer-container__contact-name {
  margin-bottom: 20px;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-container__contact-key {
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}

.footer-container__contact-line {
  margin: 45px 0px;
  opacity: 0.5;
  border: 1px solid #ffffff;
}

.footer-container__map {
  height: 656px;
  width: 856px;
  background: url("../img/map.png");
  background-position: -2px -2px;
  border: 2px solid #d5621d;
  border-radius: 5px;
}

.footer-container__line {
  margin: 100px 0px 30px;
  opacity: 0.5;
  border: 1px solid #ffffff;
}

.footer-container__text {
  margin-bottom: 30px;
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  opacity: 0.5;
}

.modal {
  position: fixed;
  top: calc((100% / 2) - 100px);
  left: calc((100% / 2) - 350px);
  padding: 30px 50px 20px 40px;
  height: 200px;
  width: 700px;
  background: #34170b;
  border: 2px solid #d5621d;
  border-radius: 5px;
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
}

.modal-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 100px;
  height: 50px;
  color: #fff;
  background: var(--brown-1);
  border: 2px solid var(--brown-1);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

fieldset{
  background: #34170b;
  border: 2px solid #d5621d;
  border-radius: 5px;
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
}

.modal-form{
  position: fixed;
  top: calc((100% / 2) - 180px);
  left: calc((100% / 2) - 250px);
  padding: 20px;
  height: 360px;
  width: 500px;
  background: #34170b;
  border: 2px solid #d5621d;
  border-radius: 5px;
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
}

input{
  background: #34170b;
  border: none;
  border-radius: 5px;
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
 
/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.form-btn{
  position: absolute;
  right: 22px;
  bottom: 22px;
  width: 150px;
  height: 50px;
  color: #fff;
  background: var(--brown-1);
  border: 2px solid var(--brown-1);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.white {
  background-color: #fff;
}